<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Rhortl</title>
</head>
<body>
    <%- include('utils/header.ejs') %>

    <section class="main">
        <div class="gradient-box">
            <h1 class="errortitle"><%- error['error'] %></h1>
            <p class="errormessage"><%- error['message'] %></p>
            <%- include('utils/backhome.ejs', {data: {message: "Back Home"}}) %>
        </div>
    </section>

    <%- include('utils/footer.ejs') %>
    
</body>
</html>